{% schema %}
{
  "name": "Product grid",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ]
}
{% endschema %}


<section class="uk-section uk-padding-remove-top">
  <div class="uk-container uk-container-large">
    {% if collection.title != blank %}
      <h2>{{ collection.title }}</h2>
    {% endif %}
  <div class="product-grid">
    {% for product in collection.products limit: 12 %}  
  {%- if product.metafields.inventory.ShappifyHidden == 'true' -%}{%- continue -%}{%- endif -%}
    {% render 'collection-cards', product: product %}
  
    {% endfor %}
    </div>
    </div>
</section>


<script>
document.querySelectorAll('.product-card a').forEach(link => { 

  const featuredImage = link.querySelector('.featured-image');
  const hoverImage = link.querySelector('.hover-image');

  link.addEventListener('mouseover', () => {
    featuredImage.style.display = 'none'; 
    hoverImage.style.display = 'block';
  });

  link.addEventListener('mouseout', () => {
    featuredImage.style.display = 'block';
    hoverImage.style.display = 'none';
  });

});

</script>