<section class="home-features uk-margin-top uk-margin-bottom">
  <div class="uk-child-width-1-2 uk-child-width-1-4@s uk-grid-medium@s uk-grid-small uk-grid-match" uk-grid>
    <div class="uk-text-center">
      <a
        href="/products/laxpack"
        class="uk-inline-clip uk-transition-toggle uk-light"
        tabindex="0">
        <img
          src="{{ 'feature-bag-laxpack.jpg' | asset_url }}"
          alt=""
          class="uk-transition-scale-up uk-transition-opaque">
        <div class="uk-visible@s uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-primary uk-flex uk-flex-center uk-flex-middle uk-flex-column">
          <div class="uk-transition-slide-top-small">
            <h5 class="uk-margin-remove uk-text-large uk-text-bold">Laxpack</h5>
          </div>
          <div class="uk-transition-slide-bottom-small">
            <h4 class="uk-margin-remove uk-text-default">Shop now</h4>
          </div>
        </div>


        <div class="uk-hidden@s uk-overlay-primary uk-position-bottom uk-padding-small">
          <h5 class="uk-margin-remove uk-text-normal uk-text-bold">Laxpack</h5>
          <h4 class="uk-margin-remove uk-text-default">Shop now</h4>
        </div>

      </a>
    </div>
    <div class="uk-text-center">
      <a
        href="/products/laxpack-mini-2"
        class="uk-inline-clip uk-transition-toggle uk-light"
        tabindex="0">
        <img
          src="{{ 'feature-bag-laxpack-mini.jpg' | asset_url }}"
          alt=""
          class="uk-transition-scale-up uk-transition-opaque">
        <div class="uk-visible@s uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-primary uk-flex uk-flex-center uk-flex-middle uk-flex-column">
          <div class="uk-transition-slide-top-small">
            <h5 class="uk-margin-remove uk-text-large uk-text-bold">Laxpack Mini</h5>
          </div>
          <div class="uk-transition-slide-bottom-small">
            <h4 class="uk-margin-remove uk-text-default">Shop now</h4>
          </div>
        </div>


        <div class="uk-hidden@s uk-overlay-primary uk-position-bottom uk-padding-small">
          <h5 class="uk-margin-remove uk-text-normal uk-text-bold">Laxpack Mini</h5>
          <h4 class="uk-margin-remove uk-text-default">Shop now</h4>
        </div>

      </a>
    </div>
    <div class="uk-text-center">
      <a
        href="/products/equipment-bag"
        class="uk-inline-clip uk-transition-toggle uk-light"
        tabindex="0">
        <img
          src="{{ 'feature-bag-equipmentbag.jpg' | asset_url }}"
          alt=""
          class="uk-transition-scale-up uk-transition-opaque">
        <div class="uk-visible@s uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-primary uk-flex uk-flex-center uk-flex-middle uk-flex-column">
          <div class="uk-transition-slide-top-small">
            <h5 class="uk-margin-remove uk-text-large uk-text-bold">Equipment Bag</h5>
          </div>
          <div class="uk-transition-slide-bottom-small">
            <h4 class="uk-margin-remove uk-text-default">Shop now</h4>
          </div>
        </div>

        <div class="uk-hidden@s uk-overlay-primary uk-position-bottom uk-padding-small">
          <h5 class="uk-margin-remove uk-text-normal uk-text-bold">Equipment Bag</h5>
          <h4 class="uk-margin-remove uk-text-default">Shop now</h4>
        </div>

      </a>
    </div>
    <div class="uk-text-center">
      <a
        href="/products/mega-duffel"
        class="uk-inline-clip uk-transition-toggle uk-light"
        tabindex="0">
        <img
          src="{{ 'feature-bag-duffel.jpg' | asset_url }}"
          alt=""
          class="uk-transition-scale-up uk-transition-opaque">
        <div class="uk-visible@s uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-primary uk-flex uk-flex-center uk-flex-middle uk-flex-column">
          <div class="uk-transition-slide-top-small">
            <h5 class="uk-margin-remove uk-text-large uk-text-bold">Mega Duffel</h5>
          </div>
          <div class="uk-transition-slide-bottom-small">
            <h4 class="uk-margin-remove uk-text-default">Shop now</h4>
          </div>
        </div>


        <div class="uk-hidden@s uk-overlay-primary uk-position-bottom uk-padding-small">
          <h5 class="uk-margin-remove uk-text-normal uk-text-bold">Mega Duffel</h5>
          <h4 class="uk-margin-remove uk-text-default">Shop now</h4>
        </div>

      </a>
    </div>
  </div>
</section>