<section class="reviews uk-section uk-background-muted">
  <div class="uk-container uk-container-large">
    <div class="uk-padding-large uk-child-width-epxand uk-background-default">
      <div id="productReviews"></div>
    </div>
  </div>
</section>