{% unless product.tags contains 'team_bag' %}
<section class="reviews uk-section uk-background-muted">
  <div class="uk-container uk-container-large">
    <div class="uk-padding-small uk-background-default">
      <div id="productReviews"></div>
    </div>
  </div>
</section>
{% endunless %}