//Laxgaer Vars
$lax-primary: #e92829;
$lax-secondary: blue;
$lax-text-color: #585858;



//Vars
$global-primary-background: $lax-primary;
$global-link-color: $lax-text-color;
$global-link-hover-color: $lax-primary;
$breakpoint-small: 820px