// @import '../../node_modules/uikit/src/scss/variables.scss';

//Laxgaer Vars
$lax-primary: #e92829;
$lax-secondary: blue;
$lax-text-color: #585858;




//Vars
$global-primary-background: $lax-primary !default;
$global-link-color: $lax-text-color;
$global-link-hover-color: $lax-primary;
$breakpoint-small: 820px;

$slidenav-color: rgba($lax-primary, 0.5) !default;
$slidenav-hover-color: rgba($lax-primary, 0.9) !default;
$slidenav-active-color: rgba($lax-primary, 0.5) !default;

$lightbox-background: rgba(0, 0, 0, .8);
$card-default-background:white !default;
$card-primary-background: #f1f1f1 !default;
$card-primary-color: $lax-text-color !default;
$card-primary-title-color: $lax-text-color !default;
$card-primary-color-mode: dark !default;