/*
------------------------------------  WARNING  ------------------------------------
This file will be overwritten and should not be edited directly.
In order to edit custom CSS for Bold Product Options you should:
- Log into your Shopify Admin Panel
- Go to Apps --> Installed --> Product Options
- Go to Display Settings
------------------------------------  WARNING  ------------------------------------
bold-options.css version 6
*/
 
 
.bold_options {
            margin-bottom: 20px;
}
 
.bold_options:empty {
    display:none;
}
 
/* Bold Tooltips */
 
/* default styles for the priced options total */
 
/* custom styles for the priced options total */
 
/* Swatches styles */
 
 
 
/* errors */
 
/* utility classes */
 
/* ajax loading animation */
@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}
 
/* custom css */