.home-team-photos {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  width: fit-content;
  .team-photos {
    animation: 80s slide infinite linear;
    display: flex;
    flex-grow: 1;
    flex-wrap: nowrap;
    width: max-content;
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
