.product-main {
    hr {
        border-top-color: black;
    }

    .product-selector {
        display: flex;
        gap: .75rem;

        [type=radio] {
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;

            &:disabled {
                cursor: not-allowed;
            }
        }

        label, li {
            border: 1px solid black;

            &.disabled {
                cursor: not-allowed;
            }

            img {
                width: 50px;
                height: 50px;
                object-fit: contain;
                opacity: .5;
                transition: opacity .25s ease-in-out;
                padding: .25em;
            }

            &.selected {
                img {
                    opacity: 1
                }
            }

            &:hover {
                img {
                    opacity: 1;
                }
            }
        }
    }

    .qtydiv {
        display: flex;

        button {
            border: solid 1px black;
            background-color: white;
        }

        .uk-icon {
            width: 10px;
            height: 10px;
        }

        #Quantity {
            max-width: 2.5rem;
            padding: 0 .25rem;
            text-align: center;
        }
    }

@include productSlideshow;

    .uk-accordion-content{
        ul{
            list-style: disc;
            li{
                font-size: 15px;
            }
        }
    }
}